* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.nav {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 6px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.bar-icon {
    padding-right: 15px;
}

.left-nav {
    display: flex;
    align-items: center;

}

.right-nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-icon img {
    height: 30px;
    width: 30px;
    border-radius: 50%;

}

.user-text h4 {
    color: gray;
    font-size: 14px;
}


.side-bar {
    display: flex;
    width: 100%;
}

/* Left bar */
.left-bar {
    width: 20%;

    color: white;

}

.left-bar img {
    display: block;
}

.img {
    padding-top: 10px;


}


/* User details */
.usr-icon img {
    width: 100%;
    height: 200px;
}

.user-details {
    font-size: 14px;
    color: #eef1f4;
}

.usr-text {
    background-color: #608eb4;
    text-align: center;
    padding: 10px 0;
    font-weight: lighter;
}

.usr-code,
.usr-design,
.usr-doj,
.usr-address {

    background-color: #3a5a74;
    line-height: 31.5px;
    padding: 20px;
    text-align: center;
}

/* Right bar */
.right-bar {
    width: 80%;
    background-color: #f4f6f8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Cards */
.top-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.attendance-icon,
.atten-text {
    position: absolute;
    top: 12%;
    /* display: flex; */
}

.atten-text {
    right: 12px;
}

.card {
    background-color: white;
    height: 100%;
    flex: 1 1 150px;
    display: flex;
    border-radius: 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.card:hover {

    box-shadow: 10px 10px 12px gray;
}

.user-card,
.line-card,
.pay-card,
.leave-card     {
    background-color: #64a4d8;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.user-para,
.line-para,
.pay-para,
.leave-para {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: orange;
    align-items: center;
}

.count {
    color: rgb(7, 7, 7);
    font-size: 16px;
    margin: 5px;
}

.line-card {
    background-color: rgb(140, 117, 117);

}

.line-para a {
    text-decoration: none;
    color: orange;
}

.pay-card {
    background-color: #E0B0FF;
}

.pay-para {
    color: #E0B0FF;
}

.pay-para a {
    text-decoration: none;
    color: #E0B0FF;
}

.leave-card {

    background-color: #97cf8a;
}



.leave-para {

    color: #97cf8a;

}

.leave-para a {
    text-decoration: none;
    color: #97cf8a;
}

.card p h3 {
    display: flex;
}

.card i {
    font-size: 24px;
    color: #eff3f6;
}

.check-card {
    border-radius: 10px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #7ba6cd;
}

.check-card a {
    text-decoration: none;
    color: white;
}

.check-card p {
    font-size: 18px;
    padding: 10px;
    color: white;
}

.attendance-icon {
    display: inline-block;
    background-color: #709fc6;
    height: 30px;
}

.panels {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.panel {

    background-color: white;
    height: 400px;
    flex: 1 1 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.panel h4 {
    margin-bottom: 10px;
    color: #333;
}

.panel ul {
    list-style: none;
    padding-left: 0;
}

.panel ul li {
    margin-bottom: 10px;
    font-size: 14px;
}

.birth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #709fc6;
}

.birth h4 {
    color: #eef1f4;
    font-size: larger
}

.user-box {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 10px 0;
}

.user-img {
    padding-left: 6px;
    width: 67px;
    height: 62px;
    border-radius: 50%;
    object-fit: cover;
}

.user-info h4 {
    margin: 0;
    font-size: 18px;
}

.user-info-B p {
    color: #555;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 12px;
}

.user-info p {
    margin: 4px 0 0;
    font-size: 12px;
    color: #555;
}

.user-para a {
    text-decoration: none;
    color: orange;
}

.panel hr {
    border: 0;
    height: 1px;
    background-color: #ddd;
    margin: 10px 0;
}

/* Profile */

.user-dropdown {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    outline: none;
    /* remove blue border when focused */
}

/* Show dropdown on hover or focus  */
.user-dropdown:hover .dropdown-content,
.user-dropdown:focus-within .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #608eb4;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    z-index: 1000;
    flex-direction: column;
}

.dropdown-content a {
    color: #0f0f0f;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #afc8dd;
}


.fa-circle-user,
.fa-gear,
.fa-right-from-bracket {
    color: black;
    padding-right: 12px;

}