* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    padding: 0px 20px;
}

table {
    border-collapse: collapse;
    margin: 20px;
}

td {
    border: 1px solid #999;
    padding: 10px 15px;


}

td:hover {
    background-color: #7ba6cd;

}

a {

    text-decoration: none;
    font-weight: bold;
    color: rgb(78, 76, 78);
}

a:hover {
    color: white;
}