* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.nav {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 6px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.bar-icon {
    padding-right: 15px;
}

.left-nav {
    display: flex;
    align-items: center;

}

.right-nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-icon img {
    height: 30px;
    width: 30px;
    border-radius: 50%;

}

.user-text h4 {
    color: gray;
    font-size: 14px;
}

.dashboard-header h2 {
    display: inline-block;
    font-size: 1.7em;
    color: #64A4D8;
}

.divider {
    font-size: 1.6em;
}

.side-bar {
    display: flex;
    width: 100%;
}

.dashboard-header {
    padding-top: 50px;
    display: block;
    align-items: center;
    margin-bottom: 10px;
}

.dashboard-header h1 {
    padding-left: 7px;
    display: inline-block;
    margin-right: 10px;
    font-size: 1.7em;
    color: #42403E;
}

.dashboard-header h2 {
    color: #64A4D8;
}

.controls {
    display: block;
    margin-bottom: 40px;
}

.search-bar {
    display: block;
    float: right;
    margin-top: -50px;
    font-size: 1.5em;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: 3px solid grey;
    border-radius: 3px;
    width: 690px;
    margin-top: 0px;
}

.search-bar button {
    background-color: white;
    border: 3px solid grey;
    border-left: none;
    border-radius: 0 5px 5px 0;
    padding: 8px 10px;
    cursor: pointer;
}

.actions {
    display: flex;
    padding-left: 55%;
}

.actions a {
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #989694;
    color: white;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    margin: 4px;
}

.filter-button i {
    font-size: 0.8em;
    padding: 4px;
}

.group-button i {
    font-size: 0.8em;
    padding: 4px;
}

.favorites-button i {
    font-size: 0.8em;
    padding: 4px;
}

.pagination {
    float: right;
    align-items: center;
    margin-top: -30px;
}

.pagination a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #989694;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
}

.attendance-table {
    width: 100%;
    border-collapse: collapse;
}

.attendance-table th,
.attendance-table td {

    border: 1px solid #ddd;
    padding: 15px 20px;
    text-align: left;
}

.attendance-table tbody :hover {
    background-color: #b5cde0;
}

.attendance-table td {
    color: #42403E;
    padding: 10px;
}

.attendance-table th {
    background-color: #64A4D8;
    color: white;
}

.attendance-table input[type="checkbox"] {
    transform: scale(1.6);
    margin-right: 25px;
}