* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.nav {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 6px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.bar-icon {
    padding-right: 15px;
}

.left-nav {
    display: flex;
    align-items: center;

}

.right-nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-icon img {
    height: 30px;
    width: 30px;
    border-radius: 50%;

}

.user-text h4 {
    color: gray;
    font-size: 14px;
}


.side-bar {
    display: flex;
    width: 100%;
}

.container {
    padding-top: 40px;
    max-width: 95%;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.left-sec {
    width: 50%;
    display: flex;
    align-items: center;
}

.left-sec h1 {
    color: #97CF8A;
    font-size: 1.5em;
}

.left-sec h2 {
    font-size: 1.5em;
}

.right-sec {
    float: right;
    margin-top: -22px;
}

.actions {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.pagination {
    float: right;
    align-items: center;
    margin-right: 200px;
}

.pagination a {
    text-decoration: none;
    padding: 0px 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #989694;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

.attendance-table {
    width: 96%;
    border-collapse: collapse;
    margin-left: 2%;
}

.attendance-table th,
.attendance-table td {
    padding: 15px;
    text-align: left;
}

.attendance-table tbody :hover {
    background-color: #D4EDCE;
}

.attendance-table td {
    color: #42403E;
    padding: 10px;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ddd;
    border-radius: 3px;
}

.attendance-table th {
    background-color: #97CF8A;
    color: white;
    border: none;
    border-bottom: 1px solid #ddd;
    font-size: 1.sem;

}

.related-state {
    display: inline-block;
    background-color: #D4EDDA;
    color: #155724;
    border-radius: 10px;

    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
}